@import "../../variables.scss";

.score {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 300px;
	padding: 20px;
	background-color: $wrapper-color;
	color: $main-color;
	border-radius: 10px;
	text-align: right;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

	&__label {
		font-size: 25px;
		font-weight: 700;
	}
	&__common {
		font-size: 40px;
		font-weight: 900;
	}
  &__accuracy {
    font-size: 25px;
		font-weight: 900;
  }
}

@media screen and (max-width: 1880px){
	.score {
		max-width: 1100px;
		width: 95%;
		padding: 20px 0;
		text-align: center;
		box-shadow: none;
		margin-top: 10px;
		border-radius: 10px 10px 0 0;
		order: -1;
		position: static;
		&__label {
			font-size: 20px;
		}
		&__common {
			font-size: 30px;
		}
		&__accuracy {
			font-size: 20px;
		}
	}
}
