@import "../../variables.scss";

.word {
	display: flex;
	color: $main-color;
	font-size: 80px;
	font-weight: 900;
	&__letter {
		padding: 5px;
		&.missed {
			color: #a8e4a0;
		}
	}
}
.options {
	position: absolute;
	bottom: 100px;
}

@media screen and (max-width: 1880px) {
	.word {
		font-size: 6vw;
		flex-wrap: wrap;
		&__letter {
			padding: 0.5vw;
		}
	}
}
