@import "../../variables.scss";
.level {
	padding: 0 0;
	position: absolute;
	top: 0;
	width: 100%;
	&__bar {
		margin-bottom: 10px;
		overflow: hidden;
		// border: 2px solid var(--main-color);
		border-radius: 10px;
		height: 10px;
		&__progress {
			transition: width 0.3s ease-in-out;
			height: 100%;
			background-color: var(--correct-color);
		}
	}
	&__label {
		color: var(--main-color);
		font-weight: 700;
		padding: 0 20px;
		text-align: center;
		span {
			transition: all 0.5s ease-out;
			&.increased {
				color: var(--correct-color);
			}
			&.multiplier {
				color: var(--streak-color);
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.level {
		top: -140px;
    &__bar {
      margin-bottom: 5px;
    }
	}
}
